DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_DATABASE=acts

MAIL_USER=example@email.com
MAIL_PASS=strongpassword

TOKEN_SECRET=YOUR_SECRET_KEY

# OAuth 클라이언트 ID
GOOGLE_CLIENT_ID=awds.apps.googleusercontent.com
# OAuth 클라이언트 비밀번호
GOOGLE_SECRET=SECURE--PASSWORD

GOOGLE_REDIRECT_URL=http://localhost:3000/auth/oauth/google/callback

KAKAO_CLIENT_ID=922dd...
KAKAO_CLIENT_SECRET=f2a1g...
# SERVER URL
KAKAO_CALLBACK_URL=http://localhost:3000/auth/oauth/kakao/callback