DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_DATABASE=acts

MAIL_USER=example@email.com
MAIL_PASS=strongpassword

TOKEN_SECRET=YOUR_SECRET_KEY

GOOGLE_CLIENT_ID=awds.apps.googleusercontent.com
GOOGLE_SECRET=SECURE--PASSWORD
# Change Localhost:3000 to Host URL
GOOGLE_REDIRECT_URL=http://localhost:5173/auth/oauth/google/callback

KAKAO_CLIENT_ID=922dd...
KAKAO_CLIENT_SECRET=f2a1g...
# SERVER URL
KAKAO_CALLBACK_URL=http://localhost:5173/auth/oauth/kakao/callback

NAVER_CLIENT_ID=Vo_DPN...
NAVER_CLIENT_PW=5XSFK...
NAVER_CALLBACK=http://localhost:5173/auth/oauth/naver/callback
